<div class="login-all">
<div class="card w-50 login">
  <div class="card-header">

<h2>Signup</h2>
</div>
<div class="card-body">
<form action="/auth/signup" method="POST" enctype="multipart/form-data" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="JonSnow@got.com">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <h3>Upload picture</h3>
  {{!-- <label>Foto de Perfil</label> --}}
  <input type="file" name="photo">

  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="btn btn-info" value="SAVE">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
</div>
</div>
</div>