
  <div class="index-content">
  <div class="title">
    <img src="https://res.cloudinary.com/dr1df4kwt/image/upload/v1538118864/logo.png" alt="logo">
    <h1>{{title}}</h1>
    <p>welcome {{user.username}}</p>
  </div>

  <div class="input-group mb-3 search-bar">
    <input id="end_address" type="text" class="form-control" placeholder="Address" aria-label="Address"
      aria-describedby="basic-addon2" value="">
    <div class="input-group-append">
      <button class="input-group-text btn btn-info" id="basic-addon2"><span>where to?</span></button>
    </div>
  </div>
</div>