<form method="POST" action="/profilecars">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="carMake">Marca</label>
      <input type="text" class="form-control" id="carMake" placeholder="Toyota">
    </div>
    <div class="form-group col-md-6">
      <label for="model">Modelo</label>
      <input type="text" class="form-control" id="model" placeholder="Corolla">
    </div>
  </div>
  <div class="form-group">
    <label for="year">Año</label>
    <input type="Number" class="form-control" id="year" placeholder="2010">
  </div>
  <div class="form-group">
    <label for="km">km</label>
    <input type="Number" class="form-control" id="km" placeholder="3000">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="startDate">Fecha de inicio</label>
      <input type="date" class="form-control" id="startDate">
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="endDate">Fecha de fin</label>
      <input type="date" class="form-control" id="endDate">
    </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Añadir</button>
</form>