{{!-- esto se queda, hay que cambiar las rutas--}}
{{!-- esto se queda, hay que cambiar las rutas--}}

<div class="profile">
<div class="jumbotron profile-jumbo">
  <div>
    <img class="rounded-circle profile-pic" src={{prof.imgPath}}>
  </div>
  <div>
    <h1 class="display-4">Hello, {{prof.username}}!</h1>
    <h3>Your dashboard</h3>
    <ul>
      <li><a href="/private/addcar">Add a new Car</a></li>
      <li><a href="/private/rides">Rides</a></li>
      <li><a href="/private/ownerlist">My Cars</a></li>
    </ul>
  </div>
</div>
</div>