{{!-- esto se queda, hay que cambiar las rutas--}}
{{!-- esto se queda, hay que cambiar las rutas--}}
<div>
<img class="rounded-circle" src={{prof.imgPath}}>
<h2>{{prof.username}}</h2>
</div>

<br>
<a href="/private/addcar">Add a new Car</a>
<br>
<a href="/private/rides">Rides</a>
<p>{{this.rides}}</p>
<br>
<a href="/private/ownerlist">My Cars</a>