{{!-- esto se queda, hay que cambiar las rutas--}}
{{!-- esto se queda, hay que cambiar las rutas--}}
<br>
<a href="/private/addcar">Add a new Car</a>
<br>
<a href="/private/rides">Rides</a>
<br>
<a href="/private/ownerlist">My Cars</a>

