body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profileCars {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  .profileCar {
    margin-left: 10px;  
    width: 30%;
  }
}