body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: mediumaquamarine;
  
a {
  color: antiquewhite;
  padding-right: 15px;
}
}

.footer-copyright{
  position: fixed;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  bottom: 0;
}

.profileCars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .profileCar {
    display: flex;
    flex-direction: row;
    margin-left: 10px;  
    width: 80%;
    justify-content: space-between;
    .car {
      display: flex;
      flex-direction: row;
    }
    .gmap {
      margin: 10px;
      width: 250px;
      height: 250px;
    }
    img {
      margin: 10px;
      width: 250px;
      height: 250px;
    }
  }
}


.reserveCars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .reserveCar {
    display: flex;
    flex-direction: row;
    margin-left: 10px;  
    width: 80%;
    justify-content: space-between;
    .car {
      display: flex;
      flex-direction: row;
      height: 500px;
    }
    #map {
      margin: 10px;
      width: 500px;
      height: 500px;
    }
    img {
      margin: 10px;
      width: 250px;
      height: 250px;
    }
  }
}

.page-content {
  padding: 50px;
}

.index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://avatars.mds.yandex.net/get-pdb/236760/23cc6b20-88ec-4407-8525-ecaab35989b7/orig");
    display: cover;
    .title{
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .search-bar {
      width: 80%;
      margin: 200px;
    }
    .view-cars {
      margin-top: 200px;
    }
  }

